*{
		font-family: consolas;
}

body{
	background-color: #DCDCDC;
}

.btn-custom{
	background-color: grey;
	border-color: black;
	color: white;
}

.btn-custom:hover{
	background-color: lightgray;
	border-color: grey;
	color: black;	
}

#img{
	width: 100%;
	height: 500px;
}
 
.modal-login {
	color: #636363;
	width: 350px;
}

.modal-login .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
}
	
.modal-login .modal-header {
	border-bottom: none;
	position: relative;
	justify-content: center;
}

.modal-login h4 {
	text-align: center;
	font-size: 26px;
}

.modal-login  .form-group {
	position: relative;
}

.modal-login i {
	position: absolute;
	left: 13px;
	top: 11px;
	font-size: 18px;
}
	
.modal-login .form-control {
	padding-left: 40px;
}
	
.modal-login .form-control:focus {	
	border-color: black;
}

.modal-login .form-control, .modal-login .btn {
	min-height: 40px;
	border-radius: 3px; 
}
	
.modal-login .hint-text {
	text-align: center;
	padding-top: 10px;
}

.modal-login .close {
    position: absolute;
	top: -5px;
	right: -5px;
}

.modal-login .btn {
	background: black;
	border: none;
	line-height: normal;
}

.modal-login .btn:hover, .modal-login .btn:focus {
	background: grey;
}
	
.modal-login .modal-footer {
	background: black;
	border-color: grey;
	color: black;
	text-align: center;
	margin: 0 -20px -20px;
	border-radius: 5px;
	font-size: 13px;
	justify-content: center;
}

.modal-login .modal-footer a {
	color: #999;
}

.trigger-btn{
	display: inline-block;	
	margin: 100px auto;
}

/*=========================================
CUSTOMIZE IF YOU WANT, IF NEEDS YOUR PROJECT
========================================*/
/*=====================================
GENERAL STYLES
=====================================*/

body {
font-family: Verdana;
}

.db-btn-custom {
padding:5px;

   margin:5px;
}


 /*================================
ROUND HOLLOW BUTTON STYLES
==================================*/
.db-btn-round-hollow-green {   
   
background-color:transparent;
border:5px solid #46beac; 
color:#000;      
border-radius:5px; 
-webkit-border-radius:5px;
-moz-border-radius:5px;
  
}
 .db-btn-round-hollow-green:hover {

 background-color:#46beac;
 color:#fff;
 text-decoration:none;
 border-radius:5px; 
    }