body{
	font-size:20px;
	color:#212529;
	font-family:Lora,'Times New Roman',serif;
}


h1,h2,h3{
	font-weight:800;
	font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

a{
	color:#212529;
}

a:focus,a:hover{
	color:#0085a1;
}

#brand{
	font-family: mistral;
	font-size: 20px;
}

.section-heading{
	font-size:36px;
	font-weight:700;
	margin-top:60px;
}

#mainNav{
	position:absolute;
	border-bottom:1px solid #e9ecef;
	background-color:#fff;
	font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

#mainNav .navbar-brand{
	font-weight:800;
	color:#343a40;
}

#mainNav .navbar-toggler{
	font-size:12px;
	font-weight:800;
	padding:13px;
	text-transform:uppercase;
	color:#343a40;
}

#mainNav .navbar-nav>li.nav-item>a{
	font-size:12px;
	font-weight:800;
	letter-spacing:1px;
	text-transform:uppercase;
}

@media only screen and (min-width:992px){
	#mainNav{
		border-bottom:1px solid transparent;
		background:0 0;
	}

	#mainNav .navbar-brand{
		padding:10px 20px;
		color:#fff;
	}

	#mainNav .navbar-brand:focus,#mainNav .navbar-brand:hover{
		color:rgba(255,255,255,.8);
	}

	#mainNav .navbar-nav>li.nav-item>a{
		padding:10px 20px;
		color:#fff;
	}

	#mainNav .navbar-nav>li.nav-item>a:focus,#mainNav .navbar-nav>li.nav-item>a:hover{
		color:rgba(255,255,255,.8);
	}
}

@media only screen and (min-width:992px){
	#mainNav{
		transition:background-color .2s;
		transform:translate3d(0,0,0);
	}

	#mainNav.is-fixed{
		position:fixed;
		top:-67px;
		transition:transform .2s;
		border-bottom:1px solid #fff;
		background-color:rgba(255,255,255,.9);
	}

	#mainNav.is-fixed .navbar-brand{
		color:#212529;
	}

	#mainNav.is-fixed .navbar-brand:focus,#mainNav.is-fixed .navbar-brand:hover{
		color:#0085a1;
	}

	#mainNav.is-fixed .navbar-nav>li.nav-item>a{
		color:#212529;
	}

	#mainNav.is-fixed .navbar-nav>li.nav-item>a:focus,#mainNav.is-fixed .navbar-nav>li.nav-item>a:hover{
		color:#0085a1;
	}

	#mainNav.is-visible{
		transform:translate3d(0,100%,0);
	}
}

header.masthead{
	margin-bottom:50px;
	background:no-repeat center center;
	background-color:#868e96;
	background-attachment:scroll;
	position:relative;
	background-size:cover;
}

header.masthead .overlay{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-color:#212529;
	opacity:.5;
}

header.masthead .page-heading,header.masthead .post-heading,header.masthead .site-heading{
	padding:200px 0 150px;
	color:#fff;
}

@media only screen and (min-width:768px){
	header.masthead .page-heading,header.masthead .post-heading,header.masthead .site-heading{
		padding:200px 0;
	}
}

header.masthead .page-heading,header.masthead .site-heading{
	text-align:center;
}

header.masthead .page-heading h1,header.masthead .site-heading h1{
	font-size:50px;
	margin-top:0;
}

header.masthead .page-heading .subheading,header.masthead .site-heading .subheading{
	font-size:24px;
	font-weight:300;
	line-height:1.1;
	display:block;
	margin:10px 0 0;
	font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

@media only screen and (min-width:768px){
	header.masthead .page-heading h1,header.masthead .site-heading h1{
		font-size:80px;
	}
}

header.masthead .post-heading h1{
	font-size:35px;
}

header.masthead .post-heading .meta,header.masthead .post-heading .subheading{
	line-height:1.1;
	display:block;
}

header.masthead .post-heading .subheading{
	font-size:24px;
	font-weight:600;
	margin:10px 0 30px;
	font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

header.masthead .post-heading .meta{
	font-size:20px;
	font-weight:300;
	font-style:italic;
	font-family:Lora,'Times New Roman',serif;
}

header.masthead .post-heading .meta a{
	color:#fff;
}

@media only screen and (min-width:768px){
	header.masthead .post-heading h1{
		font-size:55px;
	}

	header.masthead .post-heading .subheading{
		font-size:30px;
	}
}

.post-preview>a{
	color:#212529;
}

.post-preview>a:focus,.post-preview>a:hover{
	text-decoration:none;
	color:#0085a1;
}

.post-preview>a>.post-title{
	font-size:30px;
	margin-top:30px;
	margin-bottom:10px;
}

.post-preview>a>.post-subtitle{
	font-weight:300;
	margin:0 0 10px;
}
.post-preview>.post-meta{
	font-size:18px;
	font-style:italic;
	margin-top:0;
	color:#868e96;
}

.post-preview>.post-meta>a{
	text-decoration:none;
	color:#212529;
}

.post-preview>.post-meta>a:focus,.post-preview>.post-meta>a:hover{
	text-decoration:underline;
	color:#0085a1;
}

@media only screen and (min-width:768px){
	.post-preview>a>.post-title{
		font-size:36px;
	}
}

footer{
	padding:50px 0 65px;
}

footer .list-inline{
	margin:0;
	padding:0;
}

footer .copyright{
	font-size:14px;
	margin-bottom:0;
	text-align:center;
}
